[2018-08-24 09:06] Ritusan opened #2 "打印样式不对"
请问打印很多个页面时都每个都要引入css文件吗，这样会不会很繁琐

[2018-08-24 09:40] jofftiquez commented on #2
@Ritusan hello! I had to use google translate your issue. However, could you still translate it to English first? Have a good day!

[2018-08-24 09:41] jofftiquez commented on #2
@Ritusan also, to answer you question, you only have to inject the css files once, in the initialization part.

[2018-08-24 09:46] jofftiquez commented on #2
<img width="660" alt="screen shot 2018-08-24 at 5 44 10 pm" src="https://user-images.githubusercontent.com/8638243/44578178-8cf40b80-a7c5-11e8-9387-83ccbc55b8c4.png">

[2018-09-05 03:31] tyholby opened #3 "Is anyone else getting a "Popups Blocked" error in Chrome?"
I click on the demo in the README and it doesn't want to block the print popup.
But when I use it in my app, it blocks it. Any ideas? See screen shot.
![image](https://user-images.githubusercontent.com/11578445/45069475-e5f75580-b089-11e8-8d26-bb9a414bc690.png)

[2018-09-05 13:56] jofftiquez commented on #3
Hi @tyholby if you look at the [usage](https://github.com/mycure-inc/vue-html-to-paper#usage) part in the documentation, you'll see that you can pass some argument to customize the behaviour or the window.  You can pass `name=_self` to open the print window on the same page. See the set of options [here](https://www.w3schools.com/Jsref/met_win_open.asp).

Kindly close the issue if this helped you.

[2018-09-05 16:06] #3 closed

[2018-10-04 03:02] jofftiquez commented on #2
Closing this for now.

[2018-10-04 03:02] #2 closed

[2018-10-31 00:42] ChaStPierre opened #4 "Demo does not work with IE"
The demo does not seem to work with internet explorer 10 & 11. I've implemented in my own code (single page) but IE does not recognize the plugin vie the Vue.use

Should the plugin work with IE? Why is the plugin not found?
Thanks in advance.

[2018-10-31 03:45] jofftiquez commented on #4
Hi @ChaStPierre, to be honest, I haven't tested it in IE yet. Let me see what I can do.

[2018-10-31 21:32] ChaStPierre commented on #4
That would be great! Thanks for the quick follow-up.

[2018-11-09 01:09] diogrocarvalho opened #5 "There is a way to insert local css?"
Hi, guys!
Nice job with this plugin.

I'm new with javascript and I have a question/suggestion.

What do you guys think about an additional parameter to include local/custom css?

Like this
[code]

I did something similar to it, but I am not sure if it is the right way to do that.
I've created a .js  file with the styles as a string and insert a new style tag to the new HTML that your plugin creat

[2018-11-09 03:47] jofftiquez commented on #5
@diogrocarvalho thanks for posting this. Have you tried passing the link of the local css to the styles array?

[2018-11-13 02:04] ChaStPierre commented on #4
Quick update. Also tested with firefox which also can’t print.

[2018-11-13 04:32] jofftiquez commented on #4
@ChaStPierre sorry I've been busy lately. I will give time for this, during the weekends.

[2018-11-27 13:02] Tusko opened #6 "Add body class to use Paper.css"
Please add prop to change body class :)
https://github.com/cognitom/paper-css

[2018-11-27 15:18] jofftiquez commented on #6
This is nice @Tusko I will consider this. Thanks!

[2018-11-30 17:56] MichaelHipp opened #7 "Is it possible to be notified when print has been closed?"
The call to `this.$htmlToPaper('printMe');` returns immediately, giving no indication that the print screen is still showing nor does it give any indication when it has finished.

Is there a way to get an event or callback or promise when the print window has finished (been closed by the user)?

[2018-12-01 02:10] jofftiquez commented on #7
@MichaelHipp I'll see what I can do. Thanks :)

[2018-12-01 05:48] Tusko commented on #7
@jofftiquez that's very simple

add after https://github.com/mycure-inc/vue-html-to-paper/blob/267e78b4ff264755bd1172c6657c65a3ee7b8ec7/src/index.js#L51

            this.$emit("printIt", "complete");

[2018-12-01 17:46] jofftiquez commented on #7
@Tusko thanks. You can do a PR.

[2018-12-03 15:57] ChaStPierre commented on #5
works fin if you pass these via the options styles

[2018-12-03 16:35] ChaStPierre commented on #4
@jofftiquez any chance we see any movement on this soon? This is really needs to be addressed.
Thanks

[2018-12-04 07:37] ensleep commented on #2
Hi,guy. The values disapeared when I print the element witch was render by vue.Does It support to print the page with vue data binding?

[2018-12-04 07:38] ensleep opened #8 "Does It support to print the page with vue data binding?"
Hi,guy. The values disapeared when I print the element witch was render by vue.Does It support to print the page with vue data binding?

[2019-01-24 06:35] kmshelke opened #9 "How to set Margin and Page breaks"
Hi,

Tanks for wonderful plugin.

We are using the plugin in a project. We want to know way to set margins and page breaks.
Thanks & Regards,
kmshelke

[2019-04-10 15:44] 4moradi opened #10 "How to print table with 302px in width?"
Hi,

How can I print table of my shopping basket with 302px in width?

Thanks in advance

[2019-06-03 07:34] stevendejongnl opened #11 "Print automatically closes on IOS devices"
It's impossible to print from a IOS device.
![](https://media.giphy.com/media/JOXTm1cGqHfQiPaVzc/giphy.gif)

[2019-06-03 07:57] jofftiquez commented on #11
Hello @stevendejongnl thank you for reporting this. I haven't tested this on other browsers other than google chrome. I will try to investigate this soon. Sorry for the inconvenience.

[2019-06-03 07:58] jofftiquez commented on #10
Hello @4moradi you should explicitly set the table width to 302px.

[2019-06-03 07:58] #10 closed

[2019-06-03 07:59] jofftiquez commented on #9
Hello @kmshelke the approach for styling print pages is a little different than a normal page. You should check [this guide](https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/).

[2019-06-03 07:59] #9 closed

[2019-06-03 08:01] jofftiquez commented on #8
Hello @ensleep no it does not. The print page is literally a different (new) instance of `window` therefore the Vue instance will not be present in the print window. You should make sure that the value being printed are static before performing the print action.

[2019-06-03 08:01] #8 closed

[2019-06-03 08:02] jofftiquez commented on #7
@Tusko are you interested to do a PR? If not I will do this. Thanks.

[2019-06-03 08:04] jofftiquez commented on #6
Hello @Tusko now that I think about it, you can actually pass the CDN link of paper css to the styles array in the options.

const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    // Paper css here
  ]
}

[2019-06-03 08:04] #6 closed

[2019-06-03 08:06] jofftiquez commented on #5
@diogrocarvalho as @ChaStPierre local css also works when you pass it the `styles` array. Maybe you should just do a little tweak on how you server your css.

[2019-06-03 08:06] #5 closed

[2019-06-03 08:07] jofftiquez commented on #4
Im not sure if it's ok with you but you can now use the latest Microsoft edge built on chrome opensource. I don't think we need to support IE anymore in the near future. Let me know.

[2019-06-04 08:49] Tusko commented on #7
please do it @jofftiquez

[2019-06-04 09:13] jofftiquez commented on #7
On it @Tusko

[2019-06-05 07:38] frederic117 commented on #5
could you please provide an exemple :)
I don't manage to pass a local css file like:
options = {
    name: '_blank',
    specs: [
        'fullscreen=yes',
        'titlebar=no',
        'scrollbars=yes'
    ],
    styles: [
  '@/assets/css/style.css',
    ]}

[2019-06-06 03:20] jofftiquez commented on #5
@frederic117 don't resolve alias, use relative or absolute path.

[2019-06-06 03:25] jofftiquez commented on #7
Upon checking I can't put an event to this because I am using a mixin and not a component. Maybe a callback will do.

[2019-06-06 03:36] #7 closed

[2019-06-06 03:38] jofftiquez commented on #7
Please upgrade to `vue-html-to-paper@1.1.0` and read the docs for callback usage.

[2019-06-06 05:11] frederic117 commented on #5
Thanks for the answer,
I dont know how to write that..
Should i put the CSS file i want to link on the static repo?
Or put all the CSS in the styles array but how to write it ?
Sorry for the simple question

[2019-06-06 07:37] jofftiquez commented on #5
@frederic117 It's ok. You can either put your css to a CDN or just use relative path. You know something like this `../../path/to/css`

[2019-06-06 12:21] ChaStPierre commented on #4
Unfortunately our organization current standard is IE 10. Our reality is also the same for a number of large organizations like ours which have a high dependancy on windows and number of legacy applications.  Hope you have sometime to look into this. Thanks

[2019-06-06 15:05] jofftiquez commented on #4
@ChaStPierre I understand. Thanks for the feedback. I will look into it soon.

[2019-06-07 08:55] frederic117 commented on #5
nice thanks a lot :)

[2019-06-12 03:13] yzx9 opened #12 "Use vue-html-to-paper with typescript"
The plugin cannot work in typescript. We need to add a type declaration here, like this:

[code]

[2019-06-12 03:15] nsznsznjsz commented on #12
Temporary solutions:
[code]

[2019-06-12 03:36] nsznsznjsz commented on #12
A small mistake:
`$htmlToPaper: (id: string, callback?: () => void) => void`

[2019-06-12 07:05] jofftiquez commented on #12
Hi @nsznsznjsz please keep the temporary solution on your side for now. I will update the typings soon. Thanks.

[2019-07-14 11:03] jongbonga opened #14 "Could not find a declaration file for module 'vue-html-to-paper'."
Could not find a declaration file for module 'vue-html-to-paper'. '/Users/jonathan/Code/node_modules/vue-html-to-paper/index.js' implicitly has an 'any' type.
  Try `npm install @types/vue-html-to-paper` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue-html-to-paper';`ts(7016)

[2019-08-08 06:02] Carbone13 opened #15 "problem print with size paper A4 ."
Hello , i have an issued with vue html to paper , the problem is when i'm trying to print my html with A4 paper size , the text and date of title doc has been blocked by html doc at header , please take a look at my screen clipboard at below . thank you .

https://prnt.sc/opvib2

[2019-08-08 06:25] jofftiquez commented on #15
Hello @Carbone13 here's a suggestion. You can use `@media print` in your css to add style to the print window instance. You can then add a `margin-top` to the body. Let me know if it works.

[2019-08-08 06:56] Carbone13 commented on #15
after trying to add css with @media print and margin-top the problem still come .

[2019-08-21 11:58] hay opened #16 "Demo gives a 404"
Hey,
it seems the demo link in the README points to a 404:

https://mycure-inc.github.io/vue-html-to-paper/

Maybe it's changed to something else?

[2019-08-21 16:12] jofftiquez commented on #16
New demo link is https://mycurelabs.github.io/vue-html-to-paper/

We've recently changed our organization name. Sorry about that.

[2019-08-21 16:12] #16 closed

[2019-08-21 20:36] hay commented on #16
Thanks!

[2019-08-26 15:50] NathanStrutz opened #17 "vue-html-to-paper is difficult to initialize, no sensible defaults, no descriptive error messages"
While the component does work when it's configured properly, the configuration is a somewhat difficult and annoying process.

- options should be optional
  - default name to `_ blank`
  - default specs to `'fullscreen=yes','titlebar=yes', 'scrollbars=yes'`
  - default styles to `[]`

The callback function (`cb()`) should also be optional, and should only be called if it was passed in. Optionally,

[2019-08-26 15:56] jofftiquez commented on #17
@NathanStrutz You're right. This might not be in my priority right now but I will definitely do this sooner or later. If you really need the features right now, you can do a PR. Thanks.

[2019-08-28 03:28] #17 closed

[2019-09-06 18:04] jamalapriadi opened #20 "How i can print landscape?"
Hello, i want to print landscape page, how can i do?

[2019-09-07 03:42] jofftiquez commented on #20
Hi you can refer to [this](https://stackoverflow.com/questions/138422/landscape-printing-from-html#1392794).

[2019-09-07 03:42] #20 closed

[2019-09-20 13:35] toshiye opened #21 "Loosing styles when printing..."
Hi all,

Thanks for this amazing plugin, is great...

I'm very new in programming, even more in Vue, i'm developing one application using Laravel, VueJS with BootStrapVue and your plugin, when i print one b-table, i lost all the styles of that table (borders, colors, etc)...
Is that a way for me to work around this?

Thanks again for the app.

[2019-09-20 16:53] reachrahul commented on #21
I was not able to recreate the issue, can you help me to recreate it?

[2019-09-20 19:22] jofftiquez commented on #21
Thank you @toshiye can you show us your code? Based on your description, I think you forgot to setup the css options.

[2019-09-25 18:12] toshiye commented on #21
Hi all, thanks for replying and sorry for the delay, let me try to explain:

This is the div that i want to print in vue:

`<div id="maquinasTable" v-if="selected === '0'">
            <h1>{{ maquinaRel.maquina }} de {{ maquinaRel.dataInicial }} a {{ maquinaRel.dataFinal }}</h1>

            <b-table bordered hover striped :items="filtered" :fields="fields" small

                <td v-for="field

[2019-10-13 23:47] georgejoseph1994 commented on #15
@Carbone13 I think you can get rid of that text if you uncheck "print header and footer" option while printing.

[2019-10-21 18:31] mmurangwa commented on #21
Good Day,

Thank you very much for the great plugin, I am also having the same issue where I am loosing styles when printing. I have noticed that user agent stylesheet overrides my css.

One way of fixing this is to add the <!doctype html> tag to the print file this will ensure that the user agent stylesheet does not override the css.

May you please advise how I can add this tag.

[2019-11-10 06:20] brwa-ata opened #22 "How to call $htmlToPaper in js file ?"
Hello, guys
You did a great job and this is what I was looking for, everything works well.
But I have a question in my project there are many components I should add print to it, so I created a JS file and wrote my code there in this way any where I want to print just call that function and it should do it.
_The problem is_ when I write `this.$htmlToPaper` inside the function in JS file it gives m

[2019-11-13 06:51] DisVoider opened #23 "Lost CSS when printing"
I'm using Vue framework to build my project.

Now I'm faceing how to print the web page partialy,

Very Thanks to this plugin for convinence

BUT! I can't find out how to use my '.css' file to print the right page correctly

the project structure like below
--project
   |--src
        |--main.js
        |--mycss.css
        |--(other folder)
        |--views (folder)
              |--record (folde

[2019-11-13 07:21] brwa-ata opened #24 "Cannot print image"
I want to print an invoice which contain a logo of the company I putted the logo in the header but on print the image will not appear even I checked **background graphics** in print option, any idea about it?

[2019-11-13 14:28] eigarrido commented on #23
I have the same problem

[2019-11-15 07:53] SivamaliniV opened #25 "How to change save pdf name dynamically?"
Hi, Thanks for this plugin. It saves my day. But, While saving the pdf its automatically taken the header name as pdf name. Instead of this can I have my own dynamic name?

const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/

[2019-11-15 07:54] SivamaliniV commented on #23
Give a try with inline CSS. Its works for me.

[2019-11-15 09:04] june4th opened #26 "Loading CSS for different components."
Hi, I have a problem when trying to load different CSS for the different components in my project. When I load local CSS in component A

`const options = {
        name: '_blank',
        specs: [
            'fullscreen=yes',
            'titlebar=yes',
            'scrollbars=yes'
        ],
        styles: [
            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',

[2019-11-18 14:52] nsznsznjsz opened #27 "Return a promise when miss callback"
Hey! Thanks for your plugins, it makes me save a lot of time.

Sometime callback is useful, but I prefer to use async/await instead of callback, can we return a promise when miss callback?

[code]

[2019-11-19 06:32] jofftiquez commented on #27
Hello @nsznsznjsz you're right. I can consider this, however I can't promise to do this very soon. If you can do a PR it would be much appreciated.

[2019-11-19 11:41] nsznsznjsz commented on #22
You can't use `this.$htmlToPaper` in JS file, because ES6 module prevent `this` pointer to global,
and $htmlToPaper mount on Vue Instance. but I also like use like `import { htmlToPaper } from 'vue-html-to-paper'`, it's more like Vue3

[2019-11-21 08:52] KhalifaGad commented on #23
Try using absolute path to your css file, it works for me.

[2019-11-21 09:52] brwa-ata commented on #22
ok, thanks

[2019-11-21 09:52] #22 closed

[2019-11-21 09:54] #24 closed

[2019-11-30 00:03] PortStone opened #31 "Include complete CSS"
Hello I don't know how I can include all of my CSS so it doesn't break my design. I am using Vuetify which I can include with https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css but my table doesn't look the same printed as it does on my page. Also I don't know how I can add my custom CSS which I declared in my .vue with `<style lang="scss"> ... </style>`

[2019-12-04 23:59] moktc commented on #15
Hi Carbone13, can you let me know how you format the printout to make it look like a printed page instead of a website? Thanks.

[2019-12-05 04:50] limsocheat commented on #5
I am using with NuxtJS, I tried to include CSS with relative path, but it is not working.
[code]
**custom.css** file is stored in the same directory.

[2019-12-09 20:30] Andrades-r opened #32 "How to print landscape mode?"
I want to print a page on landscape mode, but i can't include my .css file for @print query, i am putting the styles inline  and using bootstrap.

[2019-12-20 16:59] #32 closed

[2019-12-27 16:28] karolsw3 commented on #31
Agreed.

[2019-12-30 07:02] arifrahman19 opened #33 "generate printing force close after update google chrome"
i get success generate printing system from my software, but after google chrome updated we get problem in my generator printing. this generator force close in processing.

[2019-12-31 10:35] jofftiquez commented on #33
@arifrahman19 can you give me the version of chrome where it works and the version where it doesn't. Thanks.

[2020-01-09 09:40] NgVanYud opened #34 "Remote date and title site info on the top of page"
When I print the page, everything is ok, I want to remove the date and site title auto added on the top of page. Thanks you.

[2020-01-09 09:44] NgVanYud commented on #34
I can change it, just uncheck the options "headers and footers" into page prints

[2020-01-09 09:44] #34 closed

[2020-02-03 04:41] songwutk opened #35 "Please note faq for landscape print layout"
I'd like to print A4 landscape instead A4 portrait, but no instruction.

[2020-02-03 10:09] jofftiquez commented on #35
Hello @songwutk, you can change the layout from portrait to landscape in the browser's print page.

[2020-02-03 10:10] jofftiquez commented on #35
Will update the docs for automatic landscaping, I believe it's available in the print api.

[2020-02-04 01:01] songwutk commented on #35
I'm tried in my chrome for  windows click menu item but dialog not show.
Chrome for ubuntu dialog show ,select landscape  but real pdf output still portrait, firefox, too.

This quite serious function.

[2020-02-04 03:09] jofftiquez commented on #35
Thanks for the feedback @songwutk songwutk

[2020-02-04 03:12] yohanesisa commented on #24
@brwa-ata hii, i'm currently facing similar issue... May i know how you handle it? thanks

[2020-02-04 03:24] jofftiquez commented on #35
Actually @songwutk you can achieve this by passing a custom css in the styles options. Create a `landscape.css` and add this.

[code]
Then, inject the css to styles options like so:

[code]

[2020-02-04 03:33] jofftiquez opened #36 "Add local option to this.$htmlToPaper"
To override the global options, there must be a local option when invoking the $htmlToPaper prototype. E.g.:

[code]

- Add option for dynamic title

[2020-02-04 03:37] jofftiquez commented on #35
#36

[2020-02-04 03:37] #35 closed

[2020-02-04 03:38] jofftiquez commented on #31
Hello @PortStone can you give more information? What do you mean by existing css? Thanks.

[2020-02-04 03:52] jofftiquez commented on #26
Hello @june4th I understand. Since the option for adding styles is set to global, there's no way to add a different style for a different component. This will be fixed in #36 thank you.

[2020-02-04 03:52] jofftiquez commented on #25
Hello will add this functionality in #36

[2020-02-04 10:49] #25 closed

[2020-02-04 10:49] #36 closed

[2020-02-04 10:49] #26 closed

[2020-02-05 20:01] Andrades-r opened #37 "Local Options doesn't override the Global options"
I am using an global options and in main.js is like:

[code]
It doesn't import the icons from font-awesome library and i am trying to put landscape in one page specific, on the component my code is like
[code]

It doesn't override the global options and i got this error message: "Uncaught TypeError: n is not a function at eval"

[2020-02-06 02:15] jofftiquez commented on #37
I'm pretty sure I tested this one. Can you check the demo page? Let me check also. For the meantime could create a reproduction link? Thanks.

[2020-02-06 02:17] jofftiquez commented on #37
Can you answer these?

1. What version are you using?
2. Are you sure the css is in the right place?

[2020-02-06 15:53] Andrades-r commented on #37
I made a sandbox in this link: https://codesandbox.io/s/misty-sun-n8e5j
the path of the css file should be the path from the main to the css or from the file where i  defined the local options? I am using the last one

[2020-02-06 16:23] jofftiquez commented on #37
Thank you! Will check the sandbox. The path of the css should be relative to the component where you called it.

[2020-02-06 17:21] jofftiquez commented on #37
I think I understand the problem now. Since we are using relative path, the server is looking for the css in the public folder. If you are using vue-cli-3 project, just put your css in the public folder. Then import it like `./landscape.css`

[2020-02-06 17:23] jofftiquez commented on #37
Please see this fork of you reproduction https://codesandbox.io/s/cold-cookies-qtfs0

[2020-02-06 17:23] #37 closed

[2020-02-07 03:33] jofftiquez commented on #24
Any styles that you want to persist in the print page. Add inside the `@media print` block, like so:

[code]

[2020-02-12 07:10] jofftiquez commented on #31
I'm guessing this means you can pass styles instead of css links right? That would be neat. Will add that to enhancement.

[2020-02-12 07:14] jofftiquez commented on #21
Hello may I see your styles? According to the documentation, you should wrap the styles inside @media print {} block.

[2020-02-16 17:09] gkandemi opened #38 "How to prevent closing preview window after print or cancel?"
How to prevent closing preview window after print or cancel?

[2020-02-19 05:01] jofftiquez commented on #38
Helle @gkandemi, thanks for posting an issue. By design this plugins automatically closes the window after printing or when cancel is clicked. See [here](https://github.com/mycurelabs/vue-html-to-paper/blob/master/src/index.js#L65).

May I know the reason behind this request? While it is ok to add an option to prevent the closing, I still need to understand the problem or the reason so that I woul

[2020-02-25 15:42] Atmtech opened #39 "Problem with printing in vue.js and using v-model."
Is it by design not to print the value (input, textarea, any) of a v-model ? Thank you :)

![sample](https://user-images.githubusercontent.com/6673540/75262598-c2aef180-57ba-11ea-8393-ee1150be31a5.png)

The test code.

[code]

[2020-02-25 19:19] jofftiquez commented on #39
Hello, I am not entirely sure, however, what this plugin do is it takes the whole element based on the id that you provide to the `this.$htmlToPaper("printDiv")`. In this case, the div that you are seeing in the print page is **no longer a vuejs page**, just a **plain html page**. That's why `v-model` will  not work.

Will be closing for now, kindly create a new issue if you have more question. Al

[2020-02-25 19:19] #39 closed

[2020-03-03 15:20] gkandemi commented on #38
Hello @jofftiquez, Thanks for replying. Well, it would be nice to preview in browser my template.
BTW sorry for late response. I didn't realized the notification :)

If you don't have enough time please don't read below :)

So one favour, Do you know any print templates? I mean, I am doing print template like that.

<table>
<thead> Header Content (Iteration on every page )</thead>
<tbody> Real con

[2020-03-03 15:39] jofftiquez commented on #38
Hello, I understand. I thinks it's pretty doable. I will do it soon.

Sorry, I didn't get the whole problem but it sounds like this could help you https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/.

[2020-03-03 16:06] gkandemi commented on #38
Hi,

Thanks both of them :)

[2020-03-03 23:41] gkandemi commented on #38
Hello again, @jofftiquez

I forgot to say about a bug. I don't know you saw this before. Well When I tried to preview my component, by doing "$htmlToPaper" Preview Screen Appears after that closing immediately. I need to try a couple of times to get preview window.

My components could have images sometimes. What do you think about it? is it because of images?

Thanks for this plugin and your work

[2020-03-04 13:32] jofftiquez commented on #38
Hello @gkandemi thanks for the feedback.

Would mind including a screenshot of the error?

As for the image, you also have to consider the load time of the image. I'll see what I can do about it.

[2020-03-14 07:49] chaule97 opened #40 "cannot read property 'document' of null"
When I run code print, I have a error:
`Uncaught TypeError: Cannot read property 'document' of null`

This is my code:
`this.$htmlToPaper('print', null, () => {
          this.printed = true
        })`

Can you explain? Thank you so much

[2020-03-14 08:01] jofftiquez commented on #40
Hi @chaule97 let me look. Thanks.

[2020-03-14 08:11] jofftiquez commented on #40
Can you tell me which line is the error coming from? @chaule97

[2020-03-14 08:15] #40 closed

[2020-03-16 06:14] siva-569 commented on #5
@limsocheat put the CSS file in the static folder

[2020-03-26 07:49] imanever8 commented on #23
I have the same problem
I solved with external css file

[2020-03-27 04:23] liuquanzhang opened #41 "How to cancel the preview window？"
How to print directly on the original page without preview

[2020-03-30 13:36] jantenuccigsbla commented on #31
@jofftiquez For example i use a CSS loader with webpack and i dont even know the route of the css in my .vue files are in order to pass it to this plugin

[2020-04-03 00:12] jofftiquez commented on #41
Hello @liuquanzhang you cannot achieve that using this plugin. You'll notice [here](https://github.com/mycurelabs/vue-html-to-paper/blob/2f7278d94aefdc947e6c23a3deb831fe9f26bf13/src/index.js#L44) that it is opening a new window. Thanks.

[2020-04-03 00:12] #41 closed

[2020-04-09 18:24] AleksandarMiha opened #42 "How to show some elements that are hidden on html?"
Hello i want to show any element which is hidden in html.
Example

[code]

Thanks.

[2020-04-09 18:33] AleksandarMiha commented on #42
@warlock jofftiquez

[2020-04-09 18:33] AleksandarMiha commented on #42
@jofftiquez

[2020-04-09 18:33] AleksandarMiha commented on #42
@igemnace

[2020-04-09 19:06] jofftiquez commented on #42
Use `v-if` set the default value to false. Then make it true when the print method is called.

[2020-04-09 19:07] #42 closed

[2020-04-09 19:13] AleksandarMiha commented on #42
@jofftiquez
it is no work
Check my question
https://stackoverflow.com/questions/61126059/how-to-hide-element-in-vue-html-to-paper/61126377?noredirect=1#comment108142285_61126377

[2020-04-09 22:24] AleksandarMiha commented on #42
@jofftiquez @igemnace @warlock @enometsys @

[2020-04-10 05:10] jofftiquez commented on #42
Hello @AleksandarMiha we appreciate you for using our plugin, however, the problem you're encountering is not part of the solution that this plugin is offering. Can you maybe create a reproduction via codepen or jsfiddle? Thanks.

[2020-04-10 05:18] jofftiquez commented on #42
@AleksandarMiha do this:

[code]

[2020-04-10 09:05] AleksandarMiha commented on #42
Yes friend.
Solution is this.$nextTick.
Thanks :)

[2020-04-10 09:13] AleksandarMiha commented on #42
Hmm but i have another problem.
When i goes to print function. If go to cancel  I lose my element in html.
I need go to refresh page to see again p tag.
Solution?

[2020-04-10 09:46] AleksandarMiha commented on #42
@jofftiquez @warlock @enometsys @igemnace

[2020-04-15 05:49] davidrock commented on #23
You also can solve that putting your css files into the /public folder and referencing the folder.
For me, I put the necessary css files for print in the root  of the /public folder, and passed the options this way:

[code]

That was the only way I could make it works

[2020-04-15 06:08] jofftiquez commented on #23
Exactly, use the public folder because that's the root directory for assets likes this.

[2020-04-15 06:08] jofftiquez commented on #23
Closing this for now. Kindly re-open if you have more issues or open a new issue. Thanks.

[2020-04-15 06:08] #23 closed

[2020-04-15 21:35] whoisme555 opened #43 "Styles lost with bootstrap vue"
Hi, decided to try this out. I'm using a bootstrap vue table and want to give users the option to print it. Should just need bootstrap styles, but I can't seem to get it to work.  Here's my configuration:

`styles: [
    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'
  ]`

And here's how the html is set up:

`<b-table id="attendeeList" striped hover :items="event.Tastin

[2020-04-16 00:11] jofftiquez commented on #43
Hello @whoisme555 can you show me the actual configuration? Also, if you can provide a reproduction link that would be better.

[2020-04-16 00:45] whoisme555 commented on #43
I copied the documentation the whole way through, with the only difference being including a newer version of the bootstrap css above

[2020-04-16 01:19] jofftiquez commented on #43
**No styles**

![image](https://user-images.githubusercontent.com/8638243/79403841-9ea1ac80-7fc2-11ea-9bf7-684203dc6e06.png)

**With styles using the link you provided**

See:
- The code
- The print screenshot
- The css link loaded by the network (same with the one in the code)

![Screenshot_20200416_091600](https://user-images.githubusercontent.com/8638243/79404034-2be50100-7fc3-11ea-98ea-e5c50c9

[2020-04-16 01:19] #43 closed

[2020-04-16 03:37] whoisme555 commented on #43
I don't know what you mean, I told you my implementation, but here's the full code. It's just the documentation code. It doesn't even match your "no styles" example.  It's all on one line, no spacing or styling at all.

main js -
`import Vue from 'vue';
import VueHtmlToPaper from 'vue-html-to-paper';

const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scr

[2020-04-17 09:08] jofftiquez commented on #43
What I meant was it was working for me and for the rest for the people using this library. That's why I need to see your code. Why would send the documentation code? Lol. Anyway if you're not willing to cooperate, I'm glad you found something that works for you, which by the way is 1.14MB unpacked size.

[2020-04-17 12:43] whoisme555 commented on #43
I sent the documentation code because, like I've said several times, that's the code I was using with a bootstrap-vue table. You asked for the code I was using, I sent the code I was using

[2020-04-18 00:40] jofftiquez commented on #43
@whoisme555 sure. Thanks.

[2020-04-18 06:22] whoisme555 commented on #43
Here is a link for reproduction.

https://jsfiddle.net/c38p9bos/

As I said in the title and in several posts, it does not work with bootstrap-vue, even when using the documentation code.

[2020-04-19 23:31] PortStone commented on #31
I mean with it that it detects automatically the used CSS and applies it. That means we don't need to add it manually which is a convenient feature.

You can see an example package for Angular here: https://github.com/selemxmn/ngx-print#readme

[2020-04-22 04:34] bluesky93128 opened #44 "How to print vue-chartjs?"
I have some charts on my page and want to print it.
How can I do it?

[2020-04-27 06:02] jofftiquez commented on #44
Hello @bluesky93128 can you show me what you have tried so far?

[2020-04-27 06:09] bluesky93128 commented on #44
I've converted the chart as image by using getDataUrl() function.
and show it in an img tag.
Is there any way to print vue-chart directly?

[2020-04-27 07:36] jofftiquez commented on #44
I am not sure if that's achievable, to directly print the chart from `vue-chart`. But what your're currently doing is fine. Just print the image. That way you don't have to load the `vue-chart` in the print window.

[2020-05-03 03:24] robertnicjoo opened #45 "Image size issue"
Somehow I can't set image size in print preview

![00](https://user-images.githubusercontent.com/8672823/80897934-2c51fb80-8d28-11ea-9a2a-f33771a06c09.PNG)

[code]

Any idea how to set image size?

[2020-05-07 07:19] jofftiquez commented on #45
Actually it's a bit challenging to handle styles in print page, I not entirely sure what's wrong with this but I'm sure that it's not because of the this plugin. Try to check this article you might find something helpful.

https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/

[2020-05-07 07:19] #45 closed

[2020-05-23 15:11] luisluft opened #46 "Cannot set local or global options"
I have tried everything, adding local options, global options, inline css, absolute path, relative path, but haven't been able to apply custom options.  I am using vuetify and
This is the folder structure:
![image](https://user-images.githubusercontent.com/53981590/82733933-668a3980-9ce5-11ea-9444-fe5804e037f2.png)
This is the code for CCI.vue:
[code]
This is the code for print.css:
[code]
I also

[2020-05-24 02:29] jofftiquez commented on #46
Hello you should put the custom css in the `public` directory.

[2020-05-24 02:37] jofftiquez commented on #44
Is there any updates on this? Closing for now.

[2020-05-24 02:37] #44 closed

[2020-05-24 02:37] #46 closed

[2020-05-24 13:05] luisluft commented on #46
I moved the css into the public directory but the same behaviour continues.

[2020-05-24 13:38] luisluft opened #47 "I moved the css into the public directory but the same behaviour continues."
I moved the css into the public directory but the same behaviour continues.

_Originally posted by @luisluft in https://github.com/mycurelabs/vue-html-to-paper/issues/46#issuecomment-633228181_

[2020-05-25 20:52] Omarillo opened #48 "how can used without windows.open?????"

[2020-05-26 06:48] jofftiquez commented on #48
Hello @Omarillo you can't at the moment. But this can be a nice feature, to let the user choose whether to show in on the same page or show it in a new tab. Let me know your thoughts.

[2020-05-26 06:51] jofftiquez commented on #47
Can you make the link relative to your CCI.vue? Like so, `../../../public/`? Or try removing the `./`.

[2020-05-26 12:07] luisluft commented on #47
same error happens for both '../../../public/print.css' and 'print.css'
![image](https://user-images.githubusercontent.com/53981590/82898808-e0aa0080-9f27-11ea-90ba-d987cdf85a5e.png)

[2020-05-26 18:20] BereketTsegay commented on #5
i have similar problem. that my local css is not working.
const options = {
    name: '_blank',
    specs: [
      'fullscreen=yes',
      'titlebar=yes',
      'scrollbars=yes'
    ],
    styles: [
       'http://localhost/project/public/css/app.css',
    ]
  }
despite i give the url path for the css

[2020-05-28 23:58] Omarillo commented on #48
is there a way to do changing the code for my self

[2020-05-29 08:01] jofftiquez commented on #48
Yes, you can do a pull request to this repository. Just add a new option called `openInNewWindow` and use that to do a conditional statement on this line https://github.com/mycurelabs/vue-html-to-paper/blob/2f7278d94aefdc947e6c23a3deb831fe9f26bf13/src/index.js#L44.

[2020-05-29 08:10] jofftiquez commented on #48
@Omarillo actually, my bad. You just gotta set the name option as `_self`. Like so:

[code]

[2020-06-04 04:47] betsaleel777 opened #49 "vue html to paper print data without HTML and CSS in nuxtjs"
hi , guys ,
it is very difficult for me make config for custom local css style in my nuxtjs project.
[code]

the page to print look like this using bootstrap-vue as a module
![Capture du 2020-06-04 04-21-39](https://user-images.githubusercontent.com/43573227/83714699-0c5d7280-a61b-11ea-9fcc-eae5e4f8d633.png)
but result in the window print only the data in plain text , no html and no css applied i

[2020-06-05 03:36] betsaleel777 commented on #49
issue fixed !!!!!
do not put the id property in b-table tag directly , put it in parent div , and it will work fine
do not do this
[code]

but use it
[code]

[2020-06-05 03:36] #49 closed

[2020-06-11 01:55] jofftiquez commented on #48
Any updates? Will close this now. Thanks.

[2020-06-11 01:55] #48 closed

[2020-06-11 12:20] FaruqueBraimo opened #50 "reporting documentation bug"
Hello, I am openning this issue to report a little bug that i found in the [documentation  ](https://randomcodetips.com/vue-html-to-paper/).
so  the component created in the documentation:

`<tamplate>
//code
 <button @ click = "print"> </button>
<tamplate>
`
it missing to close a tag and place a text on the button, because in many cases this button is not rendered when it has no text. so here is

[2020-06-11 15:51] jofftiquez commented on #50
Wow, I missed that. Thank you so much @FaruqueBraimo much appreciated.

[2020-06-16 19:35] varna9000 commented on #39
@jofftiquez Hi, I'm sorry to open this again, but how do you go around this problem? How can I print the value of an 'input'? It's always empty because v-model doesn't generate html "value" attribute.

[2020-06-21 22:21] positivethinking639 commented on #5
What solution for this problem? I try `import Vue from 'vue'
import VueHtmlToPaper from 'vue-html-to-paper'

const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css',
    './assets/css/print.css'
  ]
}

[2020-06-21 22:24] positivethinking639 commented on #5
@limsocheat Have you found a solution?

[2020-06-22 07:54] BereketTsegay commented on #5
i think the creator/s have to look at their code. for us it is not possible to see where the problem is coming from. hope to see an explanation from them. the library looks like it creates an html page out of the given data and then to be printed but i couldn't able to see the generated code for at least to see how it displays the urls for the css.

[2020-06-23 01:46] paulocuambe commented on #50
This should be closed by now 😅

[2020-06-23 08:09] m3hm3taydin commented on #43
Hi,

It is working without any problem. Just put the id to a parent div.
https://jsfiddle.net/yv3poecr/

[2020-06-23 12:51] whoisme555 commented on #43
Thank you!

[2020-06-27 01:59] ajitgoel opened #51 "Css to include in options=>styles."
First of all thank you so much for taking the time out to create a library like this and maintaining it. I really do appreciate your efforts.

I am trying to print using the following code but I am not sure the option that I need to pass for the printed page to show correctly.

**main.js:**

import VueHtmlToPaper from 'vue-html-to-paper';
const options = {
    name: '_blank',
    specs: ['fullscre

[2020-06-27 15:24] ajitgoel commented on #51
I decided to go with an alternative library since I could not get the styles to show up correctly.

[2020-06-27 15:24] #51 closed

[2020-06-28 10:23] positivethinking639 commented on #5
@ChaStPierre @siva-569 @frederic117 Maybe you can help me

[2020-07-15 13:32] Tommvv opened #52 "Unable to print using samsung phones"
After creating a scan application with the use of phones, I stumbled upon a problem that I have tried debugging.

I have tested using Samsung phones (S10, S20 & X Cover) aswell as iPhone (10 & 11).
I came to the conclusion that its not possible to print pages using vue-html-to-paper on samsung, it is however possible on iPhone.

I have tested this using your demo aswell as our production applicati

[2020-07-24 18:17] nnnayeem opened #54 "css does not work when internet connection is slow"
Hello,

I am trying to pring using vue-html-to-paper. On my local server everything works fine. When I upload to live server the css seems to does  not work even though the css link is correct (I can see the loaded css link using chrome dev tool).

So I tried to find out the root cause. In the option I changed `name:'_blank'` to `name:'_self` and and make the internet to 2G using chrome dev tool a

[2020-07-25 08:58] hqzh opened #55 "how to set the default margin to none"
![1](https://user-images.githubusercontent.com/26128706/88453264-fa1fe800-ce97-11ea-9343-e200a81ef053.png)

[2020-08-05 02:19] jakedolan commented on #55
Browser support may vary depending on its implementation of @page (https://caniuse.com/#feat=mdn-css_at-rules_page), but you should be able to control both the display achieve this with the following in a print style for both the print window and print output.

[code]

[2020-08-05 08:03] xtzgd commented on #47
you can try "/print.css"

[2020-08-05 08:06] xtzgd commented on #47
try  "/print.css"

[2020-08-10 16:46] joshmakar opened #57 "Should this console.warn be here?"
I get a console warning anytime I print and it's just an empty array since I'm not passing any style options.

Not a big deal but just adds noise to the console log and may cause future devs of our app to want to try and troubleshoot the warning if they don't know what it is already.

Great job on the package btw and thanks for creating it!

https://github.com/mycurelabs/vue-html-to-paper/blob/05e

[2020-08-10 18:15] jofftiquez commented on #57
Hello @joshmakar you're right. This is a mistake. Would you mind making a PR for this? Thanks.

[2020-08-11 07:53] #57 closed

[2020-08-12 11:50] mohdabbas commented on #54
I am facing the same issue :-(...

[2020-08-12 14:14] joshmakar commented on #57
Didn't see your response until after you'd finished the PR. Thanks!

[2020-08-19 08:46] varna9000 commented on #54
Same problem here.

[2020-08-20 07:37] mohdabbas commented on #54
Yes, fixed by increasing the setTimeout Value!

[2020-08-20 08:43] varna9000 commented on #54
@mohdabbas yes, but it's more of a workaround. It's best if the print() function could wait for the css to load in full, I suppose.

[2020-08-24 04:01] Borderliner opened #59 "Cannot read property 'write' of undefined"
On Nuxt.js + Electron setup, I get `Cannot read property 'write' of undefined` when using this package. It happens with all the elements, simple or complex. Here's my setup:

[code]

[code]

[code]

All I get is a blank screen with the title `table`, and in the main window I get `Cannot read property 'write' of undefined`. The exact error location is in this line:
[code]

[2020-08-28 12:59] Bopsi commented on #47
VueHtmlToPaper opens a new window with its own style tag. So when you pass a CDN it works, if u pass a local file it does not because it tries to access the resource in your web server but in the wrong URL. Let's see how the page looks when we use a CDN and a local CSS file.

### CDN

[code]

### Local CSS file

And let's say you are calling the print function from `http://localhost:8080/somepage`

[2020-10-21 13:00] irhamputra commented on #12
@nsznsznjsz thank you it works like a charm

[2020-10-24 17:59] Zanndorin opened #61 "Help with Print settings"
Hi, I don't think I'm using this correctly.

I am trying to make the print label sized

[code]
I added this to a print.css file.

and I call it

[code]

but I think the size thingie are ignored? or is this related to https://github.com/mycurelabs/vue-html-to-paper/issues/47

[2020-10-25 02:48] jofftiquez commented on #61
Hello @Zanndorin I am currently still investigating this on my end. One possible reason might be the permission to the `public` folder. Altho I am not yet certain about it. Would you mind using the a CDN at the moment? Thanks.

[2020-10-25 02:48] jofftiquez commented on #61
Duplicate #47

[2020-10-25 02:48] #61 closed

[2020-10-25 02:50] jofftiquez commented on #47
Thanks @Bopsi this actually make sense. Would mind trying this @Zanndorin? Thanks.

[2020-10-25 12:35] Zanndorin commented on #47
@jofftiquez I have tried tghe basePath thing, but it didn't change anything. I tried with `localOptions` or what it was called.

I'll try again later, might try uploading it to a S3 bucket and getting it from there to get it to work... 🤔 But the CSS file I provided should work as I expect? I.e. make the default print settings "labelsized"?

[code]

[2020-10-26 19:20] Zanndorin commented on #47
I don't seem to get this to work at all, maybe it is my browser... (Tried with a css from S3 bucket and locally, doesn't seem to change anything) :)

[2020-10-28 14:36] lionelripoll opened #62 "can't print in landscape"
As the title say, the landscape mode doesn't work:

using : Version 86.0.4240.80 (Build officiel) (x86_64)

**main.js**

[code]

**app.vue**
[code]

**component:**
[code]

what did I do wrong ?

[2020-10-29 08:44] #50 closed

[2020-11-06 11:15] tamanna-makkar opened #64 "How can we not to show the preview window ?, just need to show the print window"

[2020-11-09 17:59] jofftiquez commented on #64
In the install options, or in the local options upon the invocation of the method `this.$htmlToPaper` there's actually a property called `name`. It is by default set to `_blank` so it opens a new tab or a new window. To make it load to the same page you can pass the value `_self` to the `name` property, like so:

[code]

[2020-11-09 17:59] #64 closed

[2020-11-13 15:49] Pazulay opened #65 "Is there a way to add this mixin to Vue CLI 3?"
I started a VUE 3 project where I would love to use the functionallity of this plugin but I'm not sure how to import it into my project since the global API is different.

[2020-11-16 02:13] jofftiquez commented on #65
Hello @Pazulay this is something that we are also planning in the future. I'll leave this issue open for updates. Thanks.

[2020-11-18 11:24] samaiduch99 opened #66 "Uncaught TypeError: Cannot set property '$htmlToPaper' of undefined"
Hello, I'm facing a problem.
Before I am using this lib in vue 2 , it's working fine but after update to vue3 it getting error like this
[code]
Please, help. thank.

[2020-12-16 16:59] barath-rz commented on #66
see if this helps,
https://www.gitmemory.com/issue/mycurelabs/vue-html-to-paper/22/555470287

[2020-12-16 17:41] SamZuckerberg opened #70 "How to change filename of the pdf donwload"
When the user try to download the pdf, the name comes empty.

How can I set a name for the download?

Thanks!

[2020-12-20 10:19] szn0007 opened #71 "Issue while printing in thermal printer"
How to set the height of the printing paper according to the content in thermal printer?

[2021-01-21 17:05] laurisstepanovs commented on #65
Hi @jofftiquez! Any updates on this issue?

[2021-01-29 22:32] dmcbrn commented on #54
Can someone please review this, accept PR if all good, and create new revision?

[2021-01-31 06:00] jofftiquez commented on #54
Hello @dmcbrn I apologize, the team has been very busy with work lately. I will check your PR. Thank you for your help.

[2021-03-04 10:30] mehawk5 commented on #70
Hi, this is a temporary solution, it's kind of silly but it works.
htmlToPaper is programed to tike the page title as a name for the document to be printed, so changing the title then switching it back works.
print() {
    const title = document.title;
    document.title = this.selectedSubvention.subventionHolderName ?? "";
    this.$htmlToPaper("printMe", this.options);
    document.title = title

[2021-03-05 17:30] Aylay opened #74 "Force Print // Not open OS Popup"
Hi,

Is there any solution to force the printer without open a new tap and the OS popup ?

My goal is :
- Click on a button
- Print directly

Thank you

[2021-03-12 12:26] lokize opened #76 "Problem with using with ckeditor 5"
Hi, first congratulations for the best plugin to print in vuejs, i have a problem when a trying print ckeditor5 content:

![image](https://user-images.githubusercontent.com/19701630/110939998-ff418280-8314-11eb-9b16-009338b3eeea.png)

[2021-03-26 14:38] owl-fullDev opened #77 "Errors in console when printing"
Hi all,

I am getting this error everytime the print function is called.
`A boolean is being passed as a fourth parameter to window.open. This is not used and may cause an exception in a future release`

My print function looks as such:
[code]

My configurations look as such:
[code]

Am I doing something wrong? If so, any suggestions on how I could fix this?

Thank you!

[2021-03-30 11:12] temilolakutelu commented on #77
same here

[2021-03-30 11:14] temilolakutelu opened #78 "Plugin does not work on mobile phones"
Any time I run my web app on my mobile browser, it throws an error and doesn't print anything.

[2021-04-05 08:07] kim00425 commented on #62
make css file in static folder or public folder(find your favicon.ico file. 90% case there is correct folder).
and you should set your styles option.

this.$htmlToPaper('to-print', {styles:["/customer.css']})

[2021-04-08 06:56] alimustofa commented on #77
same here (1)

based on the error message, I think we have to remove the fourth parameter. wdyt?

https://github.com/mycurelabs/vue-html-to-paper/blob/master/src/index.js#L44

ref: [Window.open()](https://developer.mozilla.org/en-US/docs/Web/API/Window/open#syntax)

[2021-04-14 08:25] khyvez opened #80 "using vuetify cdn?"
How can I use this using vuetify?

[2021-04-15 03:46] jofftiquez commented on #80
Hello @khyvez just import the plugin like a normal vue plugin. Instructions are in the documentations.

If you are worried about the css conflict, you can actually pass a custom css in the plugin to override the css of your framework.

[2021-04-15 03:46] #80 closed

[2021-04-15 06:23] khyvez commented on #80
I mean how can I use the vuetify style?

[2021-04-15 17:16] jofftiquez commented on #80
@khyvez same concept would apply you can use vuetify css.

[2021-04-21 07:43] hasibweb commented on #77
I'm also getting the same console error.
A boolean is being passed as a fourth parameter to window.open. This is not used and may cause an exception in a future release.

and also external style css not working

[2021-04-23 09:37] phanchanra opened #81 "Custom style print not work with vue please help?"
Hello, I have using html to paper in vue with custom style, but not working

     `const options = {
            name: '_blank',
            specs: [ 'fullscreen=yes',   'titlebar=yes',  'scrollbars=yes' ],
            styles: [ './client/styles/style.css']
       }
      Vue.use(VueHtmlToPaper, options);`
I put my style in correct path, but when I click print button style not working
Please help

[2021-04-27 07:26] haitd-qest opened #82 "How to hidden content in popup?"
I want hidden conttent in image
https://uphinh.org/image/ycRnoE
Pls help me.

[2021-04-28 15:41] lialia-siterocket commented on #77
Same problem

[2021-05-03 13:53] stephane-laurans commented on #77
Same error on Google Chrome 90 but not on Google Canary 92.

[2021-05-05 02:31] jofftiquez commented on #82
Hi please provide more description. I will close this for now. Thanks.

[2021-05-05 02:31] #82 closed

[2021-05-05 02:31] jofftiquez commented on #81
Please put the custom style in the public directory, together with your favicon. Thanks.

[2021-05-05 02:31] #81 closed

[2021-05-05 02:33] jofftiquez commented on #78
Hi, this is a known problem, I will look into it. Thank you for reporting.

[2021-05-05 02:34] jofftiquez commented on #77
Hello `v1..4.0` is now available. I will close this for now. Please open a new issue if anything happens. Thanks.

[2021-05-05 02:34] #77 closed

[2021-05-05 02:36] jofftiquez commented on #76
Hello, @lokize thanks.

Would you mind sending me more information regarding this?

My 2c, the output of the wysiwyg editor is HTML right? Have you targeted the wrapper's id?

[2021-05-05 02:39] jofftiquez commented on #74
Hello, I believe this would not be possible because the idea of this plugin is "print by context" or just a part of the page. The whole functionality of the printing process relies on the opened window/pop-up/page itself. Whatever is on the page, it will print. That's why I created this to:

1. get the portion of the page you want to print
2. put that potion on a new window
3. print whatever is sh

[2021-05-05 02:39] #74 closed

[2021-05-05 02:40] jofftiquez commented on #71
Hi, you can achieve this by using CSS, or the print settings in the browser. See the FAQ section [here](https://randomcodetips.com/vue-html-to-paper/).

[2021-05-05 02:40] #71 closed

[2021-05-05 02:47] #70 closed

[2021-05-05 02:48] jofftiquez commented on #70
Hi please see `v1.4.1` I added a new option for overriding the window title.

[2021-05-05 02:51] jofftiquez commented on #66
Hello, apologies, I'm still working on Vue 3. Please let me know if there's anything you can add to this.

[2021-05-05 02:52] jofftiquez commented on #62
Closing for now, please refer to @kim00425's comment. Thanks.

[2021-05-05 02:52] #62 closed

[2021-05-05 02:53] jofftiquez commented on #54
Hi I recently deployed `v1.4.1` thanks.

[2021-05-05 02:53] #54 closed

[2021-05-05 02:54] jofftiquez commented on #47
Hi `v1.4.1` is now available, please check. Thanks.

[2021-05-05 02:55] jofftiquez commented on #55
Hello, are you still facing this issue? Thanks.

[2021-05-05 02:55] jofftiquez commented on #59
Hi, please try `v1.4.1`. Thanks.

[2021-05-05 02:55] #59 closed

[2021-05-05 02:56] jofftiquez commented on #52
Hi, refer to #78. Still debugging this one. Thanks.

[2021-05-05 02:56] #52 closed

[2021-05-05 03:16] haitd-qest commented on #82
I want to hide html content in popup or set the popup width equal to printed text. Because it doesn't look good.
https://uphinh.org/image/y7PgEP

[2021-05-05 12:02] lialia-siterocket opened #83 "_this.$htmlToPaper is not a function"
Hello!
Installed last ver 1.4.1

app.js:
[code]

Template:
`<a @click.prevent="printHtml()" class="btn small" href="">Print</a>`

Methods:
[code]

![image](https://user-images.githubusercontent.com/52654721/117137472-6f6b0280-adb2-11eb-931a-d5dbe01677c3.png)

[2021-05-06 03:33] jofftiquez commented on #82
@haitd-qest I understand, there's no way to do that really. This behavior is just like as when you press `Ctrl + P`.

[2021-05-06 06:55] hqzh commented on #55
it's still

[2021-05-06 15:40] AminHadei commented on #83
I had same issue last day. I solved this issue for myself by downgrade package.
I hope it works for you too :)

[2021-05-06 16:48] lialia-siterocket commented on #83
@AminHadei for me it works too, but the creator of the package promise to resolve another issue by this update  😄

[2021-05-07 00:59] phanchanra commented on #81
I put in public also but it still not work Please any code test online

[2021-05-12 00:34] jofftiquez commented on #81
Would you mind sharing how you implemented it? A reproduction link would be great. Thanks.

[2021-05-12 05:03] phanchanra commented on #81
I want to ask you, Do you have any suggestion?

[2021-05-13 03:12] jofftiquez commented on #81
Send me a reproduction link, that's my suggestion. So I can look at it.

[2021-05-17 06:56] hqzh commented on #55
https://www.matuzo.at/blog/i-totally-forgot-about-print-style-sheets/

[2021-05-21 02:28] phanchanra commented on #81
Please check https://randomcodetips.com/vue-html-to-paper/ with inject the custom css in the styles option

[2021-05-21 02:38] jofftiquez commented on #81
Send me a reproduction link, that's my suggestion. So I can look at it.

[2021-05-21 02:43] phanchanra commented on #81
I'm just asking you, do you have any procedure to extract style from folder other than public?

[2021-05-21 02:48] jofftiquez commented on #81
No there are none. If such thing exists it would be in the documentation. Do you still want me to help you, if so send a reproduction link.

[2021-05-21 16:18] inane commented on #83
What version are you using? tested with 1.3.1 and 1.3.0 and same behavior :-(

[2021-05-23 11:06] robbaker292 commented on #31
Am in exactly the same situation

[2021-05-23 18:07] goodguydul opened #84 "How to include image when print?"
my image is not visible when printing, what i've missed?

[2021-05-27 03:31] onin-hub commented on #83
yah i got version 1.3.1 its working now .

[2021-06-05 15:04] enjloezz commented on #31
Found a temporary _(maybe permanent)_ fix 🥳, basically its grabbing stylesheets from window.document and it checks if its inline css or not. If it is inline css converts it to data schema. In both in development and production mode, it works!
[code]

[2021-06-07 01:04] #27 closed

[2021-06-08 16:06] kupoback commented on #83
I can't get version 1.3.1 to work without it triggering errors in Chrome about passing a boolean in window.open. Has anyone figured out a workaround for this? Can't use 1.4.0, which apparently has that fix, cuz of the issue outline here.

[2021-06-11 09:45] sangib58 commented on #83
I had the same issue and no luck with v1.3.1.

[2021-06-20 08:58] PachVerb commented on #47
maybe just, put your css file in the public, and you can set script options styles of property path. just likes:

souce dir:
![image](https://user-images.githubusercontent.com/43908467/122667999-817cf500-d1e8-11eb-865d-179fdf6c5998.png)

use this css file:

![image](https://user-images.githubusercontent.com/43908467/122668009-9f4a5a00-d1e8-11eb-9ccf-9780bab74e23.png)

note: do not use pathname pub

[2021-06-20 09:12] PachVerb opened #85 "If a new window is opened, why does a style file placed under public work?"
VueHtmlToPaper opens a new window with its own style tag. So when you pass a CDN it works, if u pass a local file it does not because it tries to access the resource in your web server but in the wrong URL. Let's see how the page looks when we use a CDN and a local CSS file.

### CDN

[code]

### Local CSS file

And let's say you are calling the print function from `http://localhost:8080/somepage`

[2021-06-20 09:18] PachVerb commented on #85
As this guy said[#47 -Bopsi](https://github.com/mycurelabs/vue-html-to-paper/issues/47#issuecomment-682530153), a new window will send a new request to the server, so where does the request go? Why does the style file, which is in the public directory, work properly? Maybe this is a different question from others. But that's what I'm focused on.
@jofftiquez

[2021-06-22 06:19] matvelius commented on #83
same...

[2021-06-23 12:29] #85 closed

[2021-06-23 16:50] cobenash commented on #83
no luck.

[2021-06-25 00:23] jofftiquez commented on #84
Hi, what have you tried so far? Thanks.

[2021-06-25 00:26] jofftiquez commented on #83
Hello everyone, apologies for the super late response. I am extremely sorry for responding so late to your inquiries. I am super busy right now and I find it hard to include these issues in my time. I hope you understand. I will do what I can to help you with your issues. I will keep you posted here. Again, I am truly sorry. Please stay safe everyone.

[2021-06-25 01:28] jofftiquez commented on #83
Hi @lialia-siterocket can you share how you installed the plugin? Thanks.

[2021-06-25 01:59] jofftiquez commented on #83
Hi all I hope that `v1.4.2` will fix this problem.

The problem was that the new script for building using webpack was upgraded to latest webpack version and it seems to have some bad effects causing the build output to have `undefined` on the `installed` method of the plugin, which means the plugin is never being installed properly but without error. Hence the `$htmlToPaper` method was never avai

[2021-06-25 01:59] #83 closed

[2021-06-28 11:10] hasanmubarok9 opened #86 "Module parse failed: Unexpected token, when run nuxt build"
I am using this dependency in my current nuxt project. I've never had this problem before, but the last time I did a build, there was an error like this
![Screen Shot 2021-06-28 at 17 57 03](https://user-images.githubusercontent.com/45934721/123626938-96d2ce80-d83b-11eb-8655-90e5f81afad7.png)
It seems to have something to do with compatibility issues with optional chaining doesn't it?, and it sugg

[2021-06-28 16:04] Blair2004 commented on #86
Since some days, i'm also facing the same issue... i haven't made any update on this project so i'm suprised.
![image](https://user-images.githubusercontent.com/5265663/123668293-df39be80-d832-11eb-832f-0f7c5307d199.png)

[2021-06-29 01:10] Blair2004 commented on #86
I've downgraded to version 1.3.0 and it worked.

[2021-06-29 03:26] seydouromeo commented on #86
i face the same error

[2021-06-29 04:08] jofftiquez commented on #86
Hi please try `v1.4.3` thanks.

[2021-06-30 03:59] seydouromeo commented on #86
when i try v1.4.3, i get this
![Uploading Capture d’écran 2021-06-30 035700.png…]()

[2021-07-08 20:08] MicroDreamIT opened #88 "looking for print close method"
for example we can call below method to open print dialog, but i am looking for close method to reset some value like `@print_close`
[code]

[2021-07-12 07:14] seydouromeo commented on #86
Hi ! can someone help me to find a solution ?

[2021-07-13 00:59] photuris opened #89 "Attempted to assign to readonly property."
I'm a complete noob with vue.js, and I don't do Javascript much. So, apologies for the stupidity.

The following code works just fine when I run it with `npm run dev` (webpack), but it breaks when I run it with a production setup with express.

When I run it with `npm run build && NODE_ENV=production node server.js`, I get the following error in inspector:

`TypeError: Attempted to assign to reado

[2021-07-18 03:31] photuris commented on #89
Ok, so I just saw ticket #66. I'm sorry! So I tried this, but it's not working for me, either.

So, I clearly need to get myself up-to-speed with Javascript stuff.

[code]

[2021-07-19 18:44] mickaMartinez opened #90 "Class and styles css lost between browsers"
Hello everone, this is my case.
In Chrome and Brave they print very well, printing with all colors. But in Firefox the styles are lost. The browsers have same configurations. The system is using in whatever browser.

Note: The line break don't matter because I use the <br />.
Brave: All fine
 [
![brave](https://user-images.githubusercontent.com/78112031/126210525-fef82d32-1d7a-4312-bce7-69ecbdb0d0

[2021-07-28 23:04] photuris commented on #89
Just did it the old school way.

[2021-07-28 23:04] #89 closed

[2021-08-01 23:23] ploissken commented on #47
I've spent a day on this, only thing that worked was uploading it to a webserver and using a regular https.

[2021-08-05 10:03] Muhtaryan opened #91 "Assignment to constant variable"
Hi. there was an error in the console "Assignment to constant variable.". How can i fix

[2021-08-05 10:04] Muhtaryan commented on #91
-

- [ ] @ #1. url

)

[2021-08-05 10:04] #91 closed

[2021-08-23 12:50] nomadoda commented on #12
These typings seem to work for version `1.4.3`:

[code]

[2021-10-08 21:47] von-maurus commented on #31
Wow thats a great solution. I have a question, can you do this but with SCSS?

[2021-10-17 14:12] Lix900 opened #94 "Option to remove date and title in print"
I want to remove the date and title.
I can do so by unchecking the options "headers and footers" manually, but I would like to have an option to do it in JS.

[2021-10-17 18:13] morteza-mortezai opened #95 "how to use in nuxt ?"
i'm trying to use vue-html-to-paper in nuxt
and as i use it just in a single page then i imported it locally
but i get this error every time .
"VueHtmlToPaper" is not a function

so how can i use it locally ?

[2021-10-19 10:06] shqawe1 commented on #65
Is there any updates on this issue?

[2021-10-31 13:32] jofftiquez commented on #94
Hello, I am not sure yet if this is doable in JS if you've done some research already would mind sending me the resources here? I'd be happy to implement them. Thanks.

[2021-11-16 11:55] jovi09 opened #97 "On cancel or close the main window opened where a print button is embedded closes too! how do i only close the print and preview and not my main tab?"

[2021-11-23 05:18] Harvey-Mushman commented on #65
I too am using Vuejs 3 and would love to be able to import this functionally into my project.  Please raise this request to the top of your stack.  Vue 3 cli is the current recommended project environment for new projects and it has been out long enough that it seems to me becoming compatible would expand you market.  PS Happy to make a donation to the effort if money matters.

[2021-12-01 06:49] NaturalDevCR commented on #31
Pure gold, not all css styles are catched in quasar, but this is a real start point.

[2021-12-06 11:32] losevod opened #99 "How can i disable blank window?"
I just want to have print func without opening _blank window.

[2021-12-09 19:27] MixinsSmartSystem commented on #99
@ open the index.js for VueHtmlToPaper  by click on .
after  the line  76 add this line
 win.close()

[2021-12-09 19:28] MixinsSmartSystem commented on #97
@ open the index.js for VueHtmlToPaper by click on .
after the line 76 add this line
win.close()

[2021-12-20 08:02] paulhaem opened #101 "faulty autoclose"
Using "Print Portrait" on https://mycurelabs.github.io/vue-html-to-paper/ for testing.

When using Firefox 96 the main window gets closed when closing or canceling the print process instead of the print preview similar to #97. Chrome 96 however does nothing despite `autoClose: true`.

[2022-01-12 04:57] LasanthaSudeera opened #103 "Version 1.4.4 Autoclose Issue"
Hi, there is an issue with autoclose in version 1.4.4.

Thanks.

[2022-01-23 19:01] kyamasam commented on #31
Works!

[2022-01-27 08:42] syx-pravin commented on #97
To stay on your main tab and to close only print dialogue, you need to do the following changes.

open index.js and search for the line

**setTimeout(function () {window.close();}, 1);
          cb();
}, 1000);**

and **replace** this code with

**setTimeout(function () {}, 1);
          cb();
}, 1000);**

Now add **win.close();** after **win.print();** statement.

[2022-01-28 19:20] ajmas opened #104 "Provide Vue3 Support"
Would it be possible to add Vue3 support to this project. I do appreciate this would probably need to be done as part of a major version change and possibly maintaining both a Vue2 and a Vue3 release branch.

BTW this was a useful page for when I migrated another Vue2 based project to Vue3:  https://alvarosaburido.dev/blog/how-to-migrate-your-library-from-vue2-to-vue3

[2022-01-31 16:23] ajmas commented on #104
Just saw there was this PR, but it appears to be in Limbo: https://github.com/mycurelabs/vue-html-to-paper/pull/73

[2022-02-21 09:04] MarwaAbdelbasit commented on #5
Put your custom CSS file in the public or static folder (Where you usually keep favicon)
Modify script path in options, prepend server basepath with the CSS file

[2022-03-03 09:33] Yen-Peng commented on #5
I was facing the same issue myself in my Vue project and managed to make it work with Bobsi's solution in this link which is similar to the what @MarwaAbdelbasit mentioned:
https://stackoverflow.com/questions/54415413/custom-print-style-with-vue-js-print-plugin/63634161#63634161

The font styling written in style.css in the public folder changes the font in the outputted pdf, and I used inline fon

[2022-03-05 03:21] arthurnassar commented on #47
[](https://user-images.githubusercontent.com/43908467/122667999-817cf500-d1e8-11eb-865d-179fdf6c5998.png)[](https://user-images.githubusercontent.com/43908467/122668009-9f4a5a00-d1e8-11eb-9ccf-9780bab74e23.png)maybe just, put your css file in the public, and you can set script options styles of property path. just likes:

souce dir:
image

use this css file:

image

note: do not use pathname publi

[2022-05-20 22:37] ajmas commented on #104
I think this project is maintenance limbo. Source hasn’t been updated in 7 months. Probably best to make a Vue3 specific fork?

[2022-06-04 16:35] RicardoGeek opened #107 "autoClose:true cant close the window"
Hi,
Using Chrome the plugin outputs this to console:

`Scripts may close only the windows that were opened by them.
`

Any ideas on how to fix it?

[2022-06-22 16:54] ecomputer83 commented on #91
How do you solve this issue?

[2022-06-22 16:55] ecomputer83 opened #108 "Assignment to constant variable."
Still having this issue on 1.4.4

[2022-07-01 04:31] SeanLMcCullough opened #109 "Bug: windowTitle option is broken since 2021-07-01 (>= v1.4.3)"
The option `windowTitle` and potentially others (?) is broken at commit 6a4f093b656694f882a55ae34e9aeaed259dfcc7.

According to the docs, this option should set the window title. In the current build, this feature is broken.

[code]

This replaced the following:
[code]

With the following:
[code]

[2022-08-09 13:07] DsWebApp opened #111 "How to use tailwind css CDN"

[2022-08-21 09:24] KaungSanDev commented on #111
CDN version for tailwindcss can't be added to styles because it should be call as script as shown in official documentation of tailwindcss.
My solution is generate tailwindcss with their standalone version [Tailwindcss standalone version ](https://tailwindcss.com/blog/standalone-cli) .
You should output your "output.css" in public folder so that CSS can be loaded when new window is pop up and load

[2022-08-24 11:54] santosh-kumar-90 opened #112 "iPhone XR safari browser issue"
Not working on iPhone XR safari browser, It gives the following error.

Unhandled Promise rejection: Type error: null is not an object (Evaluating 'windowRef.opener')

Any solution for this?

[2022-10-28 14:22] nahidt-bacancy commented on #111
I'm facing this same issue in nuxt.js

[2022-10-28 14:24] nency-gajjar commented on #111
Facing the same issue.

[2022-10-28 14:25] nency-gajjar commented on #111
Can you please explain further how to use tailwind css CDN to print with styles in Nuxt.